@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3 style="margin:20px 0px">@ViewBag.CategoryNameById / @ViewBag.ProductModel.productName</h3>
<div class="row">
    <div class="col-xl-1">
    </div>
    <div class="col-xl-4">
        <img class="card-img-top" style="border-radius:18px 18px 18px 18px;height:380px;width:370px;margin-left:20px" src="~/images/Products/@ViewBag.ProductModel.imageid" alt="Card image cap">
    </div>
    <div class="col-xl-5" style="margin-left:40px">
        <h2> @ViewBag.ProductModel.productName -  @ViewBag.ProductModel.label</h2>
        <h2 style="display: inline-block; margin-right: 10px;">₹@ViewBag.ProductModel.price</h2>
        <p style="display: inline-block;">Tax Included</p>
        <p style="font-size:"> @ViewBag.ProductModel.productDescription</p>
        <h4> Sub Categories</h4>
        @foreach (var item in @ViewBag.subCategoryModelList)
        {
            if (item.mapId == @ViewBag.activeSubCatId)
            {
                <a asp-action="DetailsBySubCategory" asp-controller="Product" asp-route-id="@item.mapId" class="dark-button">
                    @item.categoryName - @item.mapId
                </a>
            }
            else
            {
                <a asp-action="DetailsBySubCategory" asp-controller="Product" asp-route-id="@item.mapId" class="light-button">
                    @item.categoryName - @item.mapId
                </a>
            }
        }
        <div class="row">
            <a asp-action="Orders" asp-controller="Product" asp-route-id="@ViewBag.activeSubCatId">
                <button class="form-control light-button">Add to Cart</button>
            </a>
            <a asp-action="Orders" asp-controller="Product" asp-route-id="@ViewBag.activeSubCatId">
                <button class="form-control light-button">Buy Now</button>
            </a>
            
            
        </div>
    </div>
</div>

