@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form method="post" asp-controller="Home" asp-action="Search" style="margin:30px 25px;">
    <div class="row">
        <div class="col-xl-2">
        </div>
        <div class="col-xl-8">
            <div class="form-group">
                <div class="input-group">
                    <input type="hidden" name="form-name" value="search-form" />
                    <input name="searchBar" class="form-control" value="@ViewBag.SearchBarValue" style="background-color:var(--light-peach);border-radius:73px 0px 0px 73px" />
                    <div class="input-group-append">
                        <button type="submit" class="btn form-control" style="border-radius:0px 73px 73px 0px; background-color:var(--light-peach)">
                            <i class="material-icons">search</i>
                        </button>
                    </div>
                </div>
                <span name="searchBar" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>

<form method="post" asp-controller="Home" asp-action="Search" style="margin-left:25px;" enctype="multipart/form-data">
    <input type="hidden" name="form-name" value="Filters-form" />
    <div class="row">
        <div class="col-xl-1"></div>
        <div class="col-xl-2">
            <select id="category" name="category" class="form-control" value="@ViewBag.category" style="width:180px;background-color:var(--light-peach);text-align:center">
                <option value="" class="form-control" selected disabled>Select a category</option>
                @foreach (var item in ViewBag.categoryNameList)
                {
                    <option value=@item.categoryId>@item.categoryName</option>
                }
            </select>
        </div>
        <div class="col-xl-2">
            <input name="minPrice" style="width:180px;" value="@ViewBag.minPrice" class="form-control" placeholder="Minimum Price..." />
            <span name="minPrice" class="text-danger"></span>
        </div>
        <div class="col-xl-2">
            <div class="form-group">
                <input name="maxPrice" style="width:180px;" value="@ViewBag.maxPrice" class="form-control" placeholder="Maximum Price..." />
                <span name="maxPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="col-xl-2">
            <select id="sortby" name="sortby" class="form-control" value="@ViewBag.sortby" style="width:180px;background-color:var(--light-peach);text-align:center">
                <option value="" class="form-control" selected disabled>Sort By</option>
                <option value=asc>Price Ascending</option>
                <option value=desc>Price Descending</option>
            </select>
        </div>

        <div class="col-xl-3">
            <div class="form-group">
                <input type="submit" value="Apply Filter" class="w-70 btn dark-button" style="width:180px;" />
            </div>
        </div>
    </div>
</form>

<div class="row" style="margin-top:30px">
    @foreach (var item in ViewBag.productModelList)
    {
        <div class="col-xl-3 d-flex justify-content-center align-items-center" style="margin:10px 0px">
            <div class="card" style="width:274px;border-radius:30px;border: 2px var(--dark-peach) solid;">
                <a asp-action="Details" asp-controller="Product" asp-route-id="@item.productId">
                    <img class="card-img-top" style="border-radius:28px 28px 0px 0px;height:180px;width:270px" src="~/images/Products/@item.imageid" alt="Card image cap">
                </a>
                <div class="card-body" style="border-radius:0px 0px 30px 30px;background-color: var(--light-peach); width:auto">
                    <p class="card-text" style="text-align:center;font-weight:bold">@item.productName - ₹@item.price</p>
                </div>
            </div>
        </div>
    }

</div>
